*, *::before, *::after{
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    text-align:center;
  }
  
  body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    text-align:center;
  }
  
  /* Sidebar Div */
  .navtotal {
    color: #fff;
    width: 15%;
    padding-left: 20px;
    height: 1250px;
    background-image: linear-gradient(30deg, #115b00, #115b00);
    border-top-right-radius: 90px;
    float: left;
    box-shadow: 0 10px 30px rgba(4, 6, 143, 0.4);
  }
  
  /* Div header */
  div h2 {
    padding: 40px 0 0 0;
    cursor: pointer;
  }
  
  /* Div links */
  .nav {
    font-size: 20px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    outline: none;
  }
  
  /* Div link on hover */
  .nav:hover {
    color: #00205b;
    background: #fff;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
  }

  h1{
    font-size: 50px;
    display:block;
    float:right;
  }

  .btn{
    display:block;
    float:right;

  }

  .deco{
    display: block;
    float:right;
    margin-top: 250px;
  }
  .t2 td, .t2 th{
    border: 1px solid orange;
  }

  