{% extends '/admin/baseadmin.html.twig' %}

{% block body %}
<h1> Les ingredients</h1>
{% for ingredient in ingredients %}

<a href="{{ path("admin_ingredient_create", {id:ingredient.id} ) }}" type="button" class="btn btn-outline-primary"> <img src="../photo/icons8-modifier-la-propriété-48.png"></a>

<div class="deco">
<table  class="t1 t2">        
        <thead> 
            <tr>
            <th >Libeller</th>
            <th>Allergene</th>
            <th>Modifer</th>
            </tr> 
        </thead>
        <tbody> 
        <tr>
            <td >{{ingredient.Libeller}}</td>
            <td >{{ingredient.Allergene}}</td>
            <td><a href="{{ path("admin_ingredient_edit", {id:ingredient.id} ) }}" type="button" class="btn btn-outline-primary"> <img src="../photo/icons8-modifier-la-propriété-48.png"></a>
        </td>
        </tr>
        </tbody> 

<div class="btn">

</div>

{% endfor %}

{% endblock %} 

