{% extends '/admin/baseadmin.html.twig' %}


{% block body %}

    <h1>Modifier une recette</h1>

    <div class="deco-modif">
        <div class="deco">

            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit" class="btn-form">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %} 