{% extends 'base.html.twig' %}

{% block title %}Hello ReccetteController!{% endblock %}

{% block body %}

{% for recette in recettes %}

    <div class="carte">

        <div class="divImg"></div>

        <div class="titre">
            <hr>
            {{recette.title}}
        </div>

        <div class="tab">
            <img src="/photo/sablier.svg" alt="sablier" class="icone">
            <span>{{recette.TpsPrepa|date("H:i", false)}}</span>
        </div>
        <div class="tab">
            <img src="/photo/liste.svg" alt="ingredients" class="icone">
            <span>8</span>
        </div>
        <div class="tab">
            <img src="/photo/user.svg" alt="user" class="icone">
            <span>5</span>
        </div>

        <div class="info">
        {{recette.Description}}
        </div>

        <div class="btnSection">
            <a href="#">La recette</a>
        </div>

    </div>
{% endfor %}

{% endblock %} 
