{% extends '/admin/baseadmin.html.twig' %}

{% block body %}
<h1> modifier regime</h1>
{% for regime in regimes %}

<a href="{{ path("admin_regime_create", {id:regime.id} ) }}" type="button" class="btn btn-outline-primary"> <img src="../photo/icons8-modifier-la-propriété-48.png"></a>

<div class="deco">
<table  class="t1 t2">        
        <thead> 
            <tr>
            <th >Libeller</th>
            </tr> 
        </thead>
        <tbody> 
        <tr>
            <td >{{regime.Libeller}}</td>
            <td><a href="{{ path("admin_regime_edit", {id:regime.id} ) }}" type="button" class="btn btn-outline-primary"> <img src="../photo/icons8-modifier-la-propriété-48.png"></a>
        </td>
        </tr>
        </tbody> 

<div class="btn">

</div>

{% endfor %}


{% endblock %} 
