{% extends 'base.html.twig' %}

{% block content_title %}Changer mon mot de passe{% endblock %}

{% block page_actions %}
    
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}